## Example: Reading Covid-19 Updates API  https://lab.isaaclin.cn/nCoV/api/overall?latest=0

SUBPAGE OF:  https://github.com/infchg/COVID-19  Coronavirus Open Data Sources and Analysis
API REFERENCES: 
  - [Infectious Estimation of R0](https://github.com/yijunwang0805/YijunWang), Y. Wang https://github.com/yijunwang0805/YijunWang
  - Li, Q., Guan, X., et al. (2020, January 29). [Early Transmission Dynamics in Wuhan, China, of Novel Coronavirus–Infected Pneumonia.](https://www.nejm.org/doi/full/10.1056/NEJMoa2001316#article_references) The New England Journal of Medicine. 

    
## Other sources in parent page https://github.com/infchg/COVID-19:
  - World cases curated some Age & Gender & Travel Hist (Oxford Univ.)
    - https://docs.google.com/spreadsheets/d/1itaohdPiAeniCXNlntNztZ_oRvjh0HsGuJXUJWET008/edit#gid=0
    - [] B Xu et al Open access epidemiological data from the COVID-19 outbreak, www.thelancet.com › article › PIIS1473-3099(20)30119-5 ›  Feb 19, 2020
  - World Stats Evolution per Coutry & Type (John Hopkins)
     - Web https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series 
     - hdx ocha https://data.humdata.org/dataset/novel-coronavirus-2019-ncov-cases
https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv
 

## Thanks to resources from:
  - http://Github.com , http://Jupyter.org  , http://MyBinder.org

In [1]:
!pip install pandas
!pip install tabulate
# initial installations

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Collecting pandas
  Downloading pandas-1.0.3-cp37-cp37m-manylinux1_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 3.3 MB/s eta 0:00:01
Collecting numpy>=1.13.3
  Downloading numpy-1.18.2-cp37-cp37m-manylinux1_x86_64.whl (20.2 MB)
     |████████████████████████████████| 20.2 MB 54.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Downloading pytz-2019.3-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 51.4 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.18.2 pandas-1.0.3 pytz-2019.3
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Collecting tabulate
  Downloading tabulate-0.8.7-py3-none-any.whl (24 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.7

In [2]:
# load Chinese Recent Update
import requests
import pandas   #  install first in cells above
import tabulate #  install first

url = 'https://lab.isaaclin.cn/nCoV/api/overall?latest=1'
r = requests.request('GET', url)
data = r.json()
df = pandas.DataFrame.from_records(data['results'])
#print(df.describe())
#print(df.head(2))
#twomany print(tabulate.tabulate(df,headers='keys',tablefmt='psql'))
#print(df.to_markdown())
display(df) # print(df.shape)

|    |   currentConfirmedCount | currentConfirmedIncr   |   confirmedCount | confirmedIncr   |   suspectedCount | suspectedIncr   |   curedCount | curedIncr   |   deadCount | deadIncr   |   seriousCount | seriousIncr   | generalRemark                                                                                                                   | remark1                                                                          | remark2                                                                                        | remark3                          | remark4   | remark5   | note1                                     | note2                                                  | note3                                                                                    |    updateTime |
|---:|------------------------:|:-----------------------|-----------------:|:----------------|-----------------:|:----------------|-------------:|:------------|------------:|:-----------|---------------:|:--------------|:--------------------------------------------------------------------------------------------------------------------------------|:---------------------------------------------------------------------------------|:-----------------------------------------------------------------------------------------------|:---------------------------------|:----------|:----------|:------------------------------------------|:-------------------------------------------------------|:-----------------------------------------------------------------------------------------|--------------:|
|  0 |                    3857 |                        |            82282 |                 |              649 |                 |        75124 |             |        3301 |            |            921 |               | 1. 3 月 12 日国家卫健委确诊补订遗漏 12 例确诊病例（非 12 日新增），暂无具体省份信息。 2. 浙江省 12 例外省治愈暂无具体省份信息。 | 易感人群：人群普遍易感。老年人及有基础疾病者感染后病情较重，儿童及婴幼儿也有发病 | 潜伏期：一般为 3～7 天，最长不超过 14 天，潜伏期内可能存在传染性，其中无症状病例传染性非常罕见 | 宿主：野生动物，可能为中华菊头蝠 |           |           | 病毒：SARS-CoV-2，其导致疾病命名 COVID-19 | 传染源：新冠肺炎的患者。无症状感染者也可能成为传染源。 | 传播途径：经呼吸道飞沫、接触传播是主要的传播途径。气溶胶传播和消化道等传播途径尚待明确。 | 1585418444724 |

,currentConfirmedCount,currentConfirmedIncr,confirmedCount,confirmedIncr,suspectedCount,suspectedIncr,curedCount,curedIncr,deadCount,deadIncr,...,generalRemark,remark1,remark2,remark3,remark4,remark5,note1,note2,note3,updateTime
0,3857,None,82282,None,649,None,75124,None,3301,None,...,1. 3 月 12 日国家卫健委确诊补订遗漏 12 例确诊病例（非 12 日新增），暂无具体...,易感人群：人群普遍易感。老年人及有基础疾病者感染后病情较重，儿童及婴幼儿也有发病,潜伏期：一般为 3～7 天，最长不超过 14 天，潜伏期内可能存在传染性，其中无症状病例传染...,宿主：野生动物，可能为中华菊头蝠,,,病毒：SARS-CoV-2，其导致疾病命名 COVID-19,传染源：新冠肺炎的患者。无症状感染者也可能成为传染源。,传播途径：经呼吸道飞沫、接触传播是主要的传播途径。气溶胶传播和消化道等传播途径尚待明确。,1585418444724

In [8]:
# Display date
from datetime import datetime
df['t'] = pandas.to_datetime(df['updateTime']/1000,unit='s')
print(df['t'].dt.date)
#import datetime
df = df.resample('D', on = 't').max()
df['date'] = df['t'].dt.date

0    2020-03-03
Name: t, dtype: object

In [3]:
##JH Source
! curl -OL https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   213  100   213    0     0   1033      0 --:--:-- --:--:-- --:--:--  1033
100 41343  100 41343    0     0   130k      0 --:--:-- --:--:-- --:--:--     0

In [6]:
! egrep -e '[,1-9][1-9][0-9][0-9]$' -e ',[5-9][0-9]$'  -e ^Provi  tim*dea*csv > over50.csv

import pandas as pd
df=pd.read_csv('over50.csv')

In [11]:
df['LastDay']=df[df.columns[-1]]-df[df.columns[-2]]  # casualties last day
display(df.sort_values(by=[df.columns[-1]],ascending=False))

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,last
9,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,3405,4032,4825,5476,6077,6820,7503,8215,9134,919
14,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,830,1043,1375,1772,2311,2808,3647,4365,5138,773
19,NaN,US,37.0902,-95.7129,0,0,0,0,0,0,...,200,244,307,417,557,706,942,1209,1581,372
5,NaN,France,46.2276,2.2137,0,0,0,0,0,0,...,243,450,562,674,860,1100,1331,1696,1995,299
18,NaN,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,137,177,233,281,335,422,465,578,759,181
8,NaN,Iran,32.0000,53.0000,0,0,0,0,0,0,...,1284,1433,1556,1685,1812,1934,2077,2234,2378,144
11,NaN,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,76,106,136,179,213,276,356,434,546,112
6,NaN,Germany,51.0000,9.0000,0,0,0,0,0,0,...,44,67,84,94,123,157,206,267,342,75
1,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,21,37,67,75,88,122,178,220,289,69
16,NaN,Switzerland,46.8182,8.2275,0,0,0,0,0,0,...,41,54,75,98,120,122,153,191,231,40
15,NaN,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,11,16,20,21,25,36,62,77,105,28
17,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,3,4,9,30,37,44,59,75,92,17
13,NaN,Portugal,39.3999,-8.2245,0,0,0,0,0,0,...,3,6,12,14,23,33,43,60,76,16
2,NaN,Brazil,-14.2350,-51.9253,0,0,0,0,0,0,...,6,11,15,25,34,46,59,77,92,15
4,NaN,Denmark,56.2639,9.5018,0,0,0,0,0,0,...,6,9,13,13,24,32,34,41,52,11
0,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,6,6,8,16,21,28,30,49,58,9
12,NaN,Philippines,13.0000,122.0000,0,0,0,0,0,0,...,17,18,19,25,33,35,38,45,54,9
7,NaN,Indonesia,-0.7893,113.9213,0,0,0,0,0,0,...,25,32,38,48,49,55,58,78,87,9
10,NaN,"Korea, South",36.0000,128.0000,0,0,0,0,0,0,...,91,94,102,111,111,120,126,131,139,8
3,Hubei,China,30.9756,112.2707,17,17,24,40,52,76,...,3130,3133,3139,3153,3153,3160,3163,3169,3174,5

In [16]:
df1=df['Country/Region',df.columns[-20:]]

TypeError: '('Country/Region', Index(['3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', 'last'],
      dtype='object'))' is an invalid key

In [14]:
display(df1)

,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,last
0,6,6,8,16,21,28,30,49,58,9
1,21,37,67,75,88,122,178,220,289,69
2,6,11,15,25,34,46,59,77,92,15
3,3130,3133,3139,3153,3153,3160,3163,3169,3174,5
4,6,9,13,13,24,32,34,41,52,11
5,243,450,562,674,860,1100,1331,1696,1995,299
6,44,67,84,94,123,157,206,267,342,75
7,25,32,38,48,49,55,58,78,87,9
8,1284,1433,1556,1685,1812,1934,2077,2234,2378,144
9,3405,4032,4825,5476,6077,6820,7503,8215,9134,919
10,91,94,102,111,111,120,126,131,139,8
11,76,106,136,179,213,276,356,434,546,112
12,17,18,19,25,33,35,38,45,54,9
13,3,6,12,14,23,33,43,60,76,16
14,830,1043,1375,1772,2311,2808,3647,4365,5138,773
15,11,16,20,21,25,36,62,77,105,28
16,41,54,75,98,120,122,153,191,231,40
17,3,4,9,30,37,44,59,75,92,17
18,137,177,233,281,335,422,465,578,759,181
19,200,244,307,417,557,706,942,1209,1581,372

In [51]:
i=df.columns[1] 
dfr= df[df.columns[-20:]] 
#dfr
dfr.insert(loc=0,column='cc',value=df['Country/Region'])

In [52]:
display ( dfr  )

,cc,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,...,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,last
0,Austria,0,0,0,1,1,1,1,3,3,...,6,6,8,16,21,28,30,49,58,9
1,Belgium,0,0,3,3,3,4,4,5,10,...,21,37,67,75,88,122,178,220,289,69
2,Brazil,0,0,0,0,0,0,0,0,1,...,6,11,15,25,34,46,59,77,92,15
3,China,3008,3024,3046,3056,3062,3075,3085,3099,3111,...,3130,3133,3139,3153,3153,3160,3163,3169,3174,5
4,Denmark,0,0,0,0,0,1,2,3,4,...,6,9,13,13,24,32,34,41,52,11
5,France,19,33,48,48,79,91,91,148,148,...,243,450,562,674,860,1100,1331,1696,1995,299
6,Germany,2,2,3,3,7,9,11,17,24,...,44,67,84,94,123,157,206,267,342,75
7,Indonesia,0,0,1,1,4,5,5,5,5,...,25,32,38,48,49,55,58,78,87,9
8,Iran,237,291,354,429,514,611,724,853,988,...,1284,1433,1556,1685,1812,1934,2077,2234,2378,144
9,Italy,463,631,827,827,1266,1441,1809,2158,2503,...,3405,4032,4825,5476,6077,6820,7503,8215,9134,919
10,"Korea, South",53,54,60,66,66,72,75,75,81,...,91,94,102,111,111,120,126,131,139,8
11,Netherlands,3,4,5,5,10,12,20,24,43,...,76,106,136,179,213,276,356,434,546,112
12,Philippines,1,1,1,2,5,8,11,12,12,...,17,18,19,25,33,35,38,45,54,9
13,Portugal,0,0,0,0,0,0,0,0,1,...,3,6,12,14,23,33,43,60,76,16
14,Spain,28,35,54,55,133,195,289,342,533,...,830,1043,1375,1772,2311,2808,3647,4365,5138,773
15,Sweden,0,0,1,1,1,2,3,6,7,...,11,16,20,21,25,36,62,77,105,28
16,Switzerland,2,3,4,4,11,13,14,14,27,...,41,54,75,98,120,122,153,191,231,40
17,Turkey,0,0,0,0,0,0,0,0,1,...,3,4,9,30,37,44,59,75,92,17
18,United Kingdom,4,6,8,8,8,21,21,55,55,...,137,177,233,281,335,422,465,578,759,181
19,US,22,28,36,40,47,54,63,85,108,...,200,244,307,417,557,706,942,1209,1581,372

In [53]:
dfr2=dfr.copy

In [ ]:
cols20 = df.columns[-20:].tolist()
cols21 = df.columns[-21:-1].tolist()
display( df[df.columns[-2]]-df[df.column[-3]] )